*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
.App{
  background-color: #39289F;
}

header{
  background-color: #241D5E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  
  .react-logo{
    img{
      width: 60px;
      height: 60px;
    }
  }

  .menu{
    
    .menu-btn {
      border: none;
      background: none;
      cursor: pointer;
    }
    img{
      width: 40px;
      height: 40px;
    }
    .burger-menu{
      position: absolute;
      right: 0;
      top: 64px;
      width: 300px;
      background-color: #6A5BCC;
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
      transform: translateX(100%);
      transition: all 0.2s;
      z-index: 1;
      
      
      ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        color: #fff;
        .genres{
          font-size: 30px;
          margin-bottom: 10px;
        }
        .genres-item{
          height: 100px;
          width: 200px;
          border-radius: 10px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 5px;
          cursor: pointer;
          img{
            border-radius: 10px;
            margin-right: 10px;
            height: 75px;
            width: 85px;
          }
        }
        .genres-item:hover{
          background-color: #5B42A3;
          color: #fff;
        }
        
        li{
          display: flex;
          align-items: center;
          font-size: 28px;
        }
      }
    }
    .burger-menu.active{
      transform: translateX(0);
    }
  }

  .search-bar{
    background-color: #fff;
    flex: 1;
    margin: 0 50px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 30px;
    display: flex;
    align-items: center;

    input{
      margin: 0 30px;
      font-size: 16px;
      width: 100%;
      outline: none;
      border: none;
    }
  }
}
.item-slider{
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 750px;

  .slide{
    position: absolute;
    transform: translateX(130%);
    transition: transform 0.5s ease-in-out;
  }
  .slide.active{
    transform: translateX(0);
    
  }
  img{
    max-height: 1000px;
    max-width: 1200px;
    border-radius: 50px;
    position: relative;
  }
  .logo-btn{
    position: absolute;
    bottom: 100px;
    left: 100px;
    display: flex;
    flex-direction: column;
    span{
      color: #fff;
      font-size: 40px;
      font-weight: 500;
    }
    .text-btn{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(43, 73, 247);
      height: 50px;
      width: 120px;
      border-radius: 10px;
      font-size: 20px;
      color: #fff;
      cursor: pointer;
    }
  }
}
h2{
  color: #fff;
  font-size: 36px;
}
.top-rated-container{
  display: flex;
  justify-content: center;
  .top__games{
    display: flex;
    gap: 50px;
    margin-top: 30px;
    
    .img-title{
      display: flex;
      flex-direction: column;
      background-color: #76a8f75e;
      border-radius: 10px;
      transition: transform 0.3s ease;
      span{
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        width: 200px;
      }

      img{
      height: 270px;
      width: 200px;
      border-radius: 20px;
      object-fit: cover;
    }
    }
    .img-title:hover{
      transform: scale(1.1);
    }
}
}
main{
  width: 1200px;
  margin: 0 200px;
}
.popular-container{
  .pop-item{
    border-radius: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    .item{
      background-color: #76a8f75e;
      border-radius: 10px;
      width: 300px;
      height: 310px;
      margin-bottom: 20px;
      transition: transform 0.3s ease;

    }
    .item:hover{
      transform: scale(1.1);
    }
    h3{
      color: #fff;
      font-size: 22px;
      margin-left: 20px;
    }
    .item__about{
      display: flex;
      justify-content: flex-start;
      margin-left: 20px;
      gap: 10px;
    }
    img{
      width: 300px;
      height: 225px;
      padding: 20px;
      border-radius: 20px;
      
    }
  }
}